body 
{
	margin:0;
}

#content 
{
	margin-top:200px;
	margin-left: 200px;
	width:1000px;
	height:1000px;	
	padding-top:200px;
	padding-left: 200px;
	border:1px solid grey;
}

#subcontent {
	position: relative;
	top:200px;
	left:200px;
}

